<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <!-- use Spring default values -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <!-- Desactivamos la excepcion que genera hibernate al intentar descubrir las capacidades del driver-->
  <logger name="org.hibernate.engine.jdbc.env.internal.LobCreatorBuilderImpl" level="WARN"/>

  <root level="info">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>

